<%- include('../includes/start.ejs') %>

<%- include('../includes/navigation.ejs') %>

    <div class="my-5">
        <div class="text-center pt-5">
            <h1 class="text-danger">Unauthorized !</h1>
            <p>Your are not authorized to open / download this file.</p>
            <a href="/" class="btn btn-primary">Back To Home</a>
        </div>
        
    </div>
<%- include('../includes/end.ejs') %>