<%- include('../includes/start.ejs') %>

<%- include('../includes/navigation.ejs') %>

    <div class="my-5">
        <div class="text-center pt-5">
            <h1 class="text-danger">Unexpected error occured !</h1>
            <p>We are working on fixing it , sorry for your inconvenience.</p>
            <a href="/" class="btn btn-primary">Back To Home</a>
        </div>
        
    </div>
    
<%- include('../includes/end.ejs') %>